
        body {
            background-color: #f0f0f0;
        }

        header {
            background-color: #4a90e2;
            color: white;
            padding: 30px;
        }

        .card-img-top {
            width: 190px;
            height: 50px;
            object-fit: cover;
            margin: 0 auto;
        }
        .card-img-top


        footer {
            background-color: #333;
            color: white;
            padding: 20px;
            margin-top: 50px;
        }
